:root {
  // Text
  --color-text-main: #2b2c30;
  --color-text-sub: #7db4e6;
  --color-text-gray01: #ddd;
  --color-text-gray02: #585a61;

  // Border
  --color-border: #ddd;
  --color-border-blue: #7db4e6;
  --color-border-gray: #d7d7d7;

  // Background
  --color-bg-gray01: #585a61;
  --color-bg-gray02: #f4f4f4;
}
